In [1]:
import pandas as pd

In [2]:
filepath = "../data/cities.csv"

In [3]:
cities = pd.read_csv(filepath)

In [4]:
cities_df = pd.DataFrame(cities)

In [5]:
cities_df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [6]:
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,rikitea,22.0,PF,1.620879e+09,78.0,-23.1203,-134.9692,77.40,17.67
1,kochi,100.0,IN,1.620879e+09,76.0,9.9399,76.2602,82.31,3.71
2,codrington,100.0,AU,1.620879e+09,71.0,-38.2667,141.9667,52.68,18.19
3,dwarka,17.0,IN,1.620878e+09,70.0,22.2394,68.9678,85.30,18.37
4,port moresby,100.0,PG,1.620879e+09,74.0,-9.4431,147.1797,82.98,4.83
...,...,...,...,...,...,...,...,...,...
566,terrak,100.0,NO,1.620879e+09,97.0,65.0870,12.3715,44.47,2.46
567,kurmanayevka,34.0,RU,1.620879e+09,48.0,52.5093,52.0675,67.41,12.82
568,luang prabang,9.0,LA,1.620879e+09,50.0,19.8856,102.1347,93.58,2.62
569,ishigaki,40.0,JP,1.620879e+09,79.0,24.3448,124.1572,85.78,16.11
570,tilichiki,61.0,RU,1.620879e+09,94.0,60.4667,166.1000,31.71,6.78

In [7]:
cities_df.to_html("cities_data.html")